<html>
  <head>
    <meta charset="utf8" />
    <title>Threekit Image Embedding HTML-PDF Test</title>
  </head>
  <body>
    <p>https://lv-api.3kit.com/api/configurations/TVY8ABEK/image/Front,1.jpg</p>
    <img
      src="https://lv-api.3kit.com/api/configurations/TVY8ABEK/image/Front,1.jpg"
      width="128"
      height="128"
    />

    <p>https://lv-api.sanzujian.cn/api/configurations/TWZE39AQ/image/Open</p>
    <img
      src="https://lv-api.sanzujian.cn/api/configurations/TWZE39AQ/image/Open"
      width="128"
      height="128"
    />

    <p>
      https://configure-imagecomposer.fluidretail.net/recipe/13385468/image/Front,1.jpg
    </p>
    <img
      src="https://configure-imagecomposer.fluidretail.net/recipe/13385468/image/Front,1.jpg"
      width="128"
      height="128"
    />

    <p>
      https://admin-fts.threekit.com/api/files/11ceb740-8679-44d1-9b2d-e6a77205f0b4/content
    </p>
    <img
      src="https://admin-fts.threekit.com/api/files/11ceb740-8679-44d1-9b2d-e6a77205f0b4/content"
      width="128"
      height="128"
    />
  </body>
</html>
